.forget-main{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    max-width: 1550px;
    height: 750px;
    margin: 0 auto;
}
.forget-img, .forget-txt{
    flex: 1;
}
.forget-img img{
    width: 100%;
    height: 100%;
}
.forget-txt{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.forget-form-box{
    align-self: flex-start;
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    /* border: 2px solid rgba(255,255,255,0.5); */
    /* border-radius: 20px; */
    /* backdrop-filter: blur(15px); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.forget-logo{
    font-family: 'Volkhov';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 100%;
/* identical to box height, or 67px */

color: #484848;
margin-bottom: 1rem ;


}
.forget-h4{
   font-family: 'poppins';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 40px;
/* identical to box height, or 133% */

color: #000000;

margin-top: 5rem;
margin-bottom: 1rem;
}

.inputbox-forget{
    position: relative;
    margin: 30px 10px  ;
    width: 47%;
    /* border-bottom: 1px solid  rgba(157, 157, 157, 1); */
}
.inputbox-otp{
    position: relative;
    margin: 30px 10px  ;
    width: 100%;
    /* border-bottom: 1px solid  rgba(157, 157, 157, 1); */
}
.inputbox-forget label, .inputbox-otp label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #000;
    font-size: 1.5em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}

.inputbox-forget input, .inputbox-otp input{
    width: 100%;
    height: 50px;
    background: none;
    background-image: linear-gradient(0deg, #2B93D9 2px, transparent 0), linear-gradient(0deg, rgba(157, 157, 157, 1) 2px, transparent 0);
  background-position: left bottom, left bottom;
  background-size: 0 100%, 100% 100%;
  background-repeat: no-repeat;
  transition: 0.3s ease-out;
    border: 0;
    font-size: 1.3em;
    letter-spacing: 1px;
    padding: 0 35px 0 5px;
    /* color: #000; */
    color: #2B93D9;

}
.inputbox-forget input:focus, .inputbox-otp input:focus{
    background-size: 100% 100%, 100% 100%;
    /* color: #2B93D9; */
    outline: none;
    border: none;
    
} 



.wrap-inputbox-forget{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 700px;
}

.wrap-inputbox-otp{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}


.forget-txt .btn{
    margin: 0;
}
.forget-txt .btn button{
    font-size: 1.2em !important;
    width: 500px;
    /* display: none; */
}
.forget-register-link{
    width: 500px;
    align-self: center;
}
.registerBtn button{
    background: #fff;
    width: 500px;
    
border: 1px solid #5B86E5;
border-radius: 8px;
color: #5B86E5;
    box-shadow: none;
}
.registerBtn button:hover{
    background: #5B86E5;
    color: #fff;
}

.haveAcc-forget{
    margin: -15px 0 15px;
    display: flex;
    justify-content: center;
    width: 100%;
    /* Forget Password? */

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
letter-spacing: 0.08em;

color: #5B86E5;
margin-right: 8rem;
margin-top: .4rem;
margin-bottom: 0;

}
.haveAcc-forget a{
    text-decoration: none;
    color: #5B86E5;
}
.haveAcc-forget p{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
letter-spacing: 0.08em;

color: #000000;
margin: 0 10px;

}

.haveAcc-forget label:hover{
    text-decoration: underline;
    cursor: pointer;
}

.terms-forget{
    align-self: flex-end;
    margin: .5rem 0;
}


 @media screen and (max-width: 1700px){
    .forget-main{
        max-width: 1350px;
        height: 650px;
    }
    .forget-logo{
        
    font-size: 34px;
    margin-bottom: .6rem ;
    line-height: 30px;
    
    }
    .forget-h4{
       
    font-size: 22px;
    line-height: 30px;
    /* identical to box height, or 133% */
    
    color: #000000;
    
    margin-bottom: 1rem;
    }
    
    .wrap-inputbox-forget{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 650px;
    }
    .inputbox-forget{
        position: relative;
        width: 46%;
        margin-top: 20px;
        
    }
    .inputbox-forget label{
        font-size: 1.2em;
    }
    input:focus ~ label,
    input:valid ~ label{
    top: -5px;
    }
    
    .inputbox-forget input{
        width: 100%;
        height: 40px;
        font-size: 1.3em;
        padding: 0 35px 0 5px;
    }
    
    .forget-txt .btn{
        margin: 0rem 0;
    }
    .forget-txt .btn button{
        font-size: 1.2em !important;
        width: 450px;
        height: 48px;
    }
    .forget-register-link{
        width: 450px;
    }
    .registerBtn button{
        
    margin-top: 20px;
        
    }
    .haveAcc-forget{
        margin-right: 6.5rem;
        height: 30px;
    }
}

 @media screen and (max-width: 1580px){
    .forget-main{
        max-width: 1100px;
        height: 550px;  
    }
    .forget-logo{
        
    font-size: 26px;
    margin-bottom: .4rem ;
    line-height: 30px;
    
    }
    .forget-h4{
       
    font-size: 17px;
    line-height: 20px;
    /* identical to box height, or 133% */
    
    color: #000000;
    
    margin-bottom: 2rem;
    }
    
    .wrap-inputbox-forget{
        width: 500px;
    }
    .inputbox-forget{
        margin-top: 0px;
    }
    .inputbox-forget label{
        font-size: 1em;
    }
    input:focus ~ label,
    input:valid ~ label{
    top: -5px !important;
    }
    
    .inputbox-forget input{
        width: 100%;
        height: 40px;
        font-size: .8em;
        padding: 0 35px 0 5px;
    }
    
   .forget-txt .btn{
        margin: 0rem 0;
    }
   .forget-txt .btn button{
        font-size: 1.1em !important;
        width: 320px;
        height: 44px;
    }
    .forget-register-link{
        width: 320px;
    }
    .registerBtn button{
        
    margin-top: 15px;
        
    }
    .haveAcc-forget{
        margin-right: 6.5rem;
        margin-top: .1rem;
    }
}
@media screen and (max-width: 1200px){
    .forget-main{
        max-width: 1050px;
        height: 500px;  
    }
    .forget-logo{
        
    font-size: 28px;
    margin-bottom: .1rem ;
    
    
    }
    .forget-h4{
       
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 133% */
    
    color: #000000;
    
    margin-bottom: 1.5rem;
    }
    
    .wrap-inputbox-forget{
        width: 480px;
    }
    .inputbox-forget{
        position: relative;
        width: 45%;
    }
    .inputbox-forget label{
        font-size: 1em;
    }
    input:focus ~ label,
    input:valid ~ label{
    top: -5px !important;
    }
    
    .inputbox-forget input{
        width: 100%;
        height: 40px;
        font-size: .8em;
        padding: 0 35px 0 5px;
    }
    
   .forget-txt .btn{
        margin: 0rem 0;
    }
   .forget-txt .btn button{
        font-size: 1em !important;
        width: 320px;
        height: 44px;
        letter-spacing: 1px;
        height: 40px;
    }
    
    .haveAcc-forget{
    
        font-size: 13px;
    }
    .haveAcc-forget p{
        font-size: 13px;

    }
    .terms-forget{
        font-size: 13px;
    }
    
}
@media screen and (max-width: 1050px){
    .forget-main{
        max-width: 700px;
        flex-direction: column;
        min-height: 650px;
       
    }
    /* .forget-form-value, .forget-form-box{
        width: 500px;
    } */
    .forget-txt{
        box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.02);
        margin: 0;
    }
    .forget-img{
        display: none;
    }
    .forget-logo{
        text-align: center;
        font-size: 35px;
        margin: 0rem 0 1rem ;
        
        
        }
        .forget-h4{
           text-align: center;
        font-size: 18px;
        line-height: 30px;
        /* identical to box height, or 133% */
        
        color: #000000;
margin-top: 1rem;
        
        margin-bottom: .6rem;
        }
        
        .forget-form-box form{
            width: 350px;
        }
        .wrap-inputbox-forget{
            /* flex-wrap: nowrap; */
            width: 350px;
        }
        .inputbox-forget{
            position: relative;
            margin: 25px 0;
            width: 100%;
        }
        .inputbox-forget label{
            font-size: 1.2em;
        }
        input:focus ~ label,
        input:valid ~ label{
        top: -5px !important;
        }
        
        .inputbox-forget input{
            width: 100%;
            height: 40px;
            font-size: 1.1em;
            padding: 0 35px 0 5px;
            border: none;
            outline: none;
                background-image: linear-gradient(0deg, #2B93D9 1px, transparent 0), linear-gradient(0deg, rgba(157, 157, 157, 1) 1px, transparent 0);
              
      }
        
       .forget-txt .btn{
            margin: 0rem 0;
        }
       .forget-txt .btn button{
            font-size: .8em !important;
            width: 250px;
            height: 44px;
        }
        .forget-register-link{
            width: 250px;
            align-self: center;
        }
        .registerBtn button{
            
        margin-top: 5px;
            
        }
        .haveAcc-forget{
            margin-right: 0rem;
            justify-content: center;
            margin-top: 0rem;
            margin-bottom: 0;
        }
        .terms-forget{margin-right: 1rem;}
}
@media screen and (max-width: 700px){
    
}
@media screen and (max-width: 550px){
  
    .forget-form-box form{
        width: 300px;
    }
    .wrap-inputbox-forget{
        width: 300px;
    }
  
} 