*,
*:before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0rem 1rem 0rem;
    width: 100%;
    max-width: 1580px;
    margin: 0 auto;
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links_logo {
    margin-right: 2rem;
}

.navbar-links_logo img {
    width: 180px;
    height: 80px;
}
ul{
    padding-inline-start: 0px;
}

li{
    display: inline-block;
    padding: 1rem 2rem;
    font-family: 'poppins';
}
li a{
    position: relative;
text-decoration: none;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #484848;
}
.signin a{
    position: relative;
}
ul li a:hover:after, .signin  a:hover:after{
    width: 100%;
}
ul li a:hover,.signin a:hover{
    color: red;
}
    ul li a:after, .signin a:after{
    content: "";
    position: absolute;
    background-color: #484848;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.activeClass a:after{
    content: "";
    position: absolute;
    background-color: #676666;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    width: 100%;
}
.activeClass a:hover{
color: #484848;
}
.signup {
    margin-left: 2rem;
    margin-right: 1rem;
}
li.signup{
    padding: 0;
}
.signup a{
    border-radius: 10px;
    background: #000000;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.10);
    border: 2px solid #000000;
    padding: 20px 65px;
    
    color: #fff;
}
.signup a:hover{
    color: #484848;
    border-radius: 10px;
    background-color:#fff;
    border: 2px dotted black;
    box-shadow:none;
    transition: .5s;
}
.navbar-links_container {
    display: flex;
    flex-direction: row;
}

.navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.navbar-menu{
    display: none;
    position: relative;
}
.navbar-menu svg {
    cursor: pointer;
}

.navbar-menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    padding: 1rem 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    border: 0 0 5 rgba(0,0,0,0.2);
    z-index: 1  ;

}
.navbar-menu_container-links{
    background-color: #FAFAFA;  
    border-radius: 20px;
    text-align: center;
    /* min-height: 90px; */
}
.navbar-menu_container p{
    margin: 1rem 0;
}

.navbar-menu_container-links-sign{
    display: none;
}
.btn button:hover{
    border: 2px dotted #000000;
}
.hidden{
    display: none !important;
}
.navbar-icons_container {
    display: flex;
    justify-content: flex-end;
}

.navbar-icons_container img {
    width: 20px;
    height: 20px;
    margin-left: 25px;

}

@media screen and (max-width: 1700px){
    .navbar{
        max-width: 1380px;
    }
}
@media screen and (max-width: 1580px){
    .navbar{
        max-width: 1130px;
    }
    li{
        padding: 1rem 1rem;
    }
}
@media screen and (max-width: 1200px){
    .navbar{
        max-width: 1080px;
    }
    

}
@media screen and (max-width: 1050px){
    .navbar{
        padding: 3rem 1rem 1rem 1rem;
    }
    li{
        display: block;
        margin: 0 2rem;
    }
    .signup {
        padding: 15px 50px;
        margin: 0 10px;
    }
    .navbar-links_container  {
        display: none;
    }  
    .navbar-menu{
        display: flex;
    }
    .navbar-icons_container{
        margin-right: 20px;
    }
}
@media screen and (max-width: 700px){
    .navbar{
        padding: .5rem 1rem;
    }
.navbar-links_logo img {
    width: 130px;
    height: 60px;
}
    li.signup{
        padding: 0;
    }
    .signup a{
        
        border: 2px solid #000000;
        padding: 8px 25px;
    }
   
    .signin{
        margin: 0px;
    }
}
@media screen and (max-width: 550px){
    .navbar{
        padding: .2rem .3rem;
    }
    .navbar-links_logo img {
        width: 100px;
        height: 50px;
    }
    .navbar-menu{
        width: 33px;
    }
    .navbar-sign{
        display: none;
    }
    ul{
        margin-block-start: 1em;
    margin-block-end: 0em;
    }
    .navbar-menu_container{
        top: 20px;
        margin: 0;
    }
    .signup{
        margin-top: 15px;
    }
    .signup a{
        padding: 15px 35px;
        box-shadow: none;

        color: #fff;
    }
   
    .navbar-menu_container-links-sign{
        display: block;
        text-align: center;
        margin-bottom: 2.5rem;
    }
    .homeClass{
        height: 57px;
    }

    .homeClass ul li {
        margin-top: -15px;
    }
    .scale-up-center{
         z-index: 1;

    }
    
    .navbar-icons_container img {
        width: 15px;
        height: 15px;
        margin-left: 18px;
    
    }
}

