.brand{
    display: flex;
    justify-content: space-between;
    padding: 5rem 14rem 2rem;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
}

@media screen and (max-width: 1700px){
    img{
        width: 175px;
    }
}
@media screen and (max-width: 1580px){
    .brand{
        padding: 3rem 8rem;
    }
    img{
        width: 125px;
    }
}
@media screen and (max-width: 1200px){
    .brand{
        padding: 3rem 3rem;
    }
}
@media screen and (max-width: 1050px){
    img{
        width: 100px;
    }
}
@media screen and (max-width: 700px){
    .brand{
        padding: 2rem;
    }
    img{
        width: 70px;
    }
}
@media screen and (max-width: 550px){
    .brand{
        padding: 1rem;
    }
    img{
        width: 50px;
    }
}