.followUs-main{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    width: 100%;
    margin: 0 auto;
}
.head1-followUs{
    font-family: Volkhov;
    font-size: 46px;
    font-weight: 400;
    line-height: 59.34px;
    text-align: center;
    color: rgba(72, 72, 72, 1);
    margin: 1rem 0;
    
}
.para1-followUs{
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
color: rgba(138, 138, 138, 1);
width: 650px;

}
.img-followUs {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
}
.img-followUs img{
    display: flex;
    align-items: center;
    width: 100%;
}

.image-container{
    display: none;
}
@media screen and (max-width: 1700px){
    .followUs-main{
        width: 100%;
    }
    
}
@media screen and (max-width: 1580px){
    
}
@media screen and (max-width: 1200px){
    
}
@media screen and (max-width: 1050px) {
    .img-followUs {
      position: relative;
      width: 100%;
      margin-top: 4rem;
      flex-direction: column;
      display: none;
    }
  
    .image-container {
        margin-top: 40px;
        display:block;
      position: relative;
      width: 70%;
      height: 450px;
      overflow: hidden;
      border-radius: 20px;

    }
  
    .image-container img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }
  }
@media screen and (max-width: 700px){
    
    .para1-followUs{
        max-width: 500px;
    }
    .image-container {
      width: 90%;
      height: 350px;

    }
}
@media screen and (max-width: 550px){
   
    .para1-followUs{
        max-width: 300px;
    }
    .image-container {
        width: 90%;
        height: 220px;
  
      }
}
