.hero-main{
    display: flex;
    justify-content: space-between;
    padding: 3rem 0rem 0;
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
}
.hero-sub:nth-of-type(1),.hero-sub:nth-of-type(3){
    width: 392px;
    height: 756px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
    
    background: #E0E0E0;
    border-radius: 10px;
    
}
/* .hero-sub:nth-of-type(1) img,.hero-sub:nth-of-type(3) img{
    height: 250px;
} */
.hero-sub:nth-of-type(2){
    width: 392px;
height: 756px;

display: flex;
flex-direction: column;
justify-content: space-between;
margin-right: 35px;

}
.hero-sub-sub{
    width: 426px;
height: 150px;

background: #E0E0E0;
border-radius: 10px;

}
.hero-sub-sub:nth-of-type(1) img{
    margin-left: 15px;
    margin-top: 5px;
    width: 400px;
}
.hero-sub-sub:nth-of-type(3) img{
    width: 426px;
height: 150px;
}

.hero-sub-subTxt{
display: flex;
align-items: center;
flex-direction: column;
cursor:default;
}
.ultimate{
    font-family: Poppins;
    font-size: 91px;
    font-weight: 500;
    line-height: 91px;
    letter-spacing: -0.04em;
    text-align: center;
    user-select: none;
    
}
.sale{
    font-family: Poppins;
font-size: 187px;
font-weight: 500;
line-height: 187px;
letter-spacing: -0.055em;
text-align: center;

color: white;
    text-shadow: 
      0 0 1px #000, 
      0 0 1px #000, 
      0 0 1px #000, 
      0 0 1px #000; 
    user-select: none;

}

.newCol{
    font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.1em;
text-align: center;
user-select: none;


}

.btn{
    margin-top: 20px;
    /* height: 56px;
    margin-top: -40px; */
}





@media screen and (max-width: 1700px){
    .hero-main{
        max-width: 1350px;

    }
    .hero-sub:nth-of-type(1),.hero-sub:nth-of-type(2),.hero-sub:nth-of-type(3){
        width: 350px;
    height: 700px;
    }
    .hero-sub:nth-of-type(1) img{
        width: 350px;
    }
    .hero-sub:nth-of-type(3) img{
        width: 230px;
    }
    .hero-sub-sub{
        width: 390px;
    height: 150px;
    background: #E0E0E0;
    border-radius: 10px;
    
    }
    .hero-sub-sub:nth-of-type(1) img{
        margin-left: 5px;
        margin-top: 11px;
        width: 380px;
    }
    .hero-sub-sub:nth-of-type(3) img{
        width: 390px;
        height: 150px;
    }
    .hero-sub-subTxt{
        margin-left: 35px;
    }
    .ultimate{
        font-size: 81px;
        line-height: 81px;
    }
    .sale{
    font-size: 175px;
    line-height: 175px;
    }
    

}
@media screen and (max-width: 1580px){
    .hero-main{
        max-width: 1100px;
    }
    .hero-sub:nth-of-type(1),.hero-sub:nth-of-type(2),.hero-sub:nth-of-type(3){
        width: 280px;
    height: 630px;
    }
    .hero-sub:nth-of-type(1) img{
        width: 280px;
    }
    .hero-sub:nth-of-type(3) img{
        width: 180px;
    }
    .hero-sub-sub{
        width: 320px;
    height: 130px;
    background: #E0E0E0;
    border-radius: 10px;
    
    }
    .hero-sub-sub:nth-of-type(1) img{
        margin-left: 10px;
        margin-top: 20px;
        width: 300px;
    }
    .hero-sub-sub:nth-of-type(3) img{
        width: 320px;
        height: 130px;
    }
    
    .ultimate{
        font-size: 65px;
        line-height: 65px;
    }
    .sale{
    font-size: 150px;
    line-height: 150px;
    }
}
@media screen and (max-width: 1200px){
    .hero-main{
        max-width: 1050px;
    }
}
@media screen and (max-width: 1050px){
    .hero-main{
        flex-direction: column;
        align-items: center;
    }
    .hero-sub:nth-of-type(1){
        order: 1;
    }
    .hero-sub:nth-of-type(2){
        margin: 10px;
        order: 0;
    }
    .hero-sub:nth-of-type(3){
        order: 2;
    }
    .hero-sub:nth-of-type(2){
        width: 680px;
        height: 1000px;
    }
    .hero-sub:nth-of-type(1),.hero-sub:nth-of-type(3){
        width: 680px;
    height: 450px;
    margin: 10px;
    }
    .hero-sub:nth-of-type(1) img{
        width: 280px;
    }
    .hero-sub:nth-of-type(3) img{
        width: 180px;
    }
    .hero-sub-sub{
        width: 680px;
    height: 250px;
    background: #E0E0E0;
    border-radius: 10px;
    /* margin: 10px; */
    
    }
    .hero-sub-sub:nth-of-type(1) img{
        margin-left: 10px;
        margin-top: 10px;
        width: 660px;
    }
    .hero-sub-sub:nth-of-type(3) img{
        width: 680px;
        height: 250px;
    }
    .hero-sub-subTxt{
        margin: 0px;
    }
    .ultimate{
        font-size: 105px;
        line-height: 105px;
    }
    .sale{
    font-size: 190px;
    line-height: 190px;
    }
}
@media screen and (max-width: 700px){
    .hero-main{
        padding: 0 2rem;
    }
    .hero-sub:nth-of-type(2){
        width: 540px;
        height: 900px;
    }
    .hero-sub:nth-of-type(1),.hero-sub:nth-of-type(3){
        width: 540px;
    height: 450px;
    margin: 10px;
    }
    .hero-sub:nth-of-type(1) img{
        width: 280px;
    }
    .hero-sub:nth-of-type(3) img{
        width: 180px;
    }
    .hero-sub-sub{
        width: 540px;
    height: 210px;
    background: #E0E0E0;
    border-radius: 10px;
    /* margin: 10px; */
    
    }
    .hero-sub-sub:nth-of-type(1) img{
        margin-left: 10px;
        margin-top: 20px;
        width: 520px;
    }
    .hero-sub-sub:nth-of-type(3) img{
        width: 540px;
        height: 210px;
    }
    .hero-sub-subTxt{
        margin: 0px;
    }
    .ultimate{
        font-size: 105px;
        line-height: 105px;
    }
    .sale{
    font-size: 190px;
    line-height: 190px;
    }
}
@media screen and (max-width: 550px){
    .hero-main{
        padding: 0 1rem;
    }
    .hero-sub:nth-of-type(2){
        width: 310px;
        height:650px;
    }
    .hero-sub:nth-of-type(1),.hero-sub:nth-of-type(3){
        width: 310px;
    height: 450px;
    margin: 10px;
    }
    .hero-sub:nth-of-type(1) img{
        width: 280px;
    }
    .hero-sub:nth-of-type(3) img{
        width: 180px;
    }
    .hero-sub-sub{
        width: 310px;
    height: 135px;
    background: #E0E0E0;
    border-radius: 10px;
    /* margin: 10px; */
    
    }
    .hero-sub-sub:nth-of-type(1) img{
        margin-left: 5px;
        margin-top: 25px;
        width: 300px;
    }
    .hero-sub-sub:nth-of-type(3) img{
        width: 310px;
        height: 135px;
    }
    .hero-sub-subTxt{
        margin: 0px;
    }
    .ultimate{
        font-size: 60px;
        line-height: 60px;
    }
    .sale{
    font-size: 140px;
    line-height: 140px;
    }
}
/* @media screen and (max-width: 1580px){
    
}
@media screen and (max-width: 1200px){
    
}
@media screen and (max-width: 1050px){
    
}
@media screen and (max-width: 700px){
    
}
@media screen and (max-width: 550px){
     
} */