
.field {
  /* align-self: center; */
 
  width: 96%;
  margin: 20px auto;
  padding-top: 5px;
  position: relative;
  clear: both;
  transition: 0.12s ease-out;
}
.field label {
  display: flex;
  align-items: center;
  pointer-events: none;
  font-size: 1.5em;
  color: black ;
}
.field .togglePass {
  display: inline-block;
  border: 0;
  background: none;
  width: 20px;
  height: 20px;
  margin: 2px 0 0 auto;
  background: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="xMidYMid" xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" viewBox="0 0 24 24" height="24" width="24"><g transform="scale(0.015625 0.015625)"><path d="M512 192c-223.318 0-416.882 130.042-512 320 95.118 189.958 288.682 320 512 320 223.312 0 416.876-130.042 512-320-95.116-189.958-288.688-320-512-320zM764.45 361.704c60.162 38.374 111.142 89.774 149.434 150.296-38.292 60.522-89.274 111.922-149.436 150.296-75.594 48.218-162.89 73.704-252.448 73.704-89.56 0-176.858-25.486-252.452-73.704-60.158-38.372-111.138-89.772-149.432-150.296 38.292-60.524 89.274-111.924 149.434-150.296 3.918-2.5 7.876-4.922 11.86-7.3-9.96 27.328-15.41 56.822-15.41 87.596 0 141.382 114.616 256 256 256 141.382 0 256-114.618 256-256 0-30.774-5.452-60.268-15.408-87.598 3.978 2.378 7.938 4.802 11.858 7.302v0zM512 416c0 53.020-42.98 96-96 96s-96-42.98-96-96 42.98-96 96-96 96 42.982 96 96z"/></g></svg>') 0 0 no-repeat;
  cursor: pointer;
  opacity: 0;
  transition: 0.2s ease-out;
  outline: none;
}
.field input {
  background: none;
  height: 36px;
  width: 100%;
  border: 0;
  padding: 5px 0;
  font-size: 1.3em;
  background-image: linear-gradient(0deg, #2B93D9 2px, transparent 0), linear-gradient(0deg, rgba(157, 157, 157, 1) 2px, transparent 0);
  background-position: left bottom, left bottom;
  background-size: 0 100%, 100% 100%;
  background-repeat: no-repeat;
  transition: 0.3s ease-out;
  color: #2B93D9;
  letter-spacing: 1px;
  font-family: 'poppins';
  font-weight: 500;
  margin-left: 5px;

}
.field input:focus {
  background-size: 100% 100%, 100% 100%;
  outline: none;
}
.field input:invalid {
  box-shadow: none;
}
.field input + label {
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  opacity: 1;
  transition: 0.2s cubic-bezier(0.7, 0.15, 0.36, 1);
}
.field input:focus + label, .field input:valid + label, .field input.hasValue + label {
  pointer-events: auto;
  transform: translateY(-80%);
  color: #000;
  opacity: 1;
}
.field input:focus + label .togglePass, .field input:valid + label .togglePass, .field input.hasValue + label .togglePass {
  opacity: 0.3;
}
.field input:focus + label .togglePass:hover, .field input:valid + label .togglePass:hover, .field input.hasValue + label .togglePass:hover {
  opacity: 0.5;
}
.field input:focus + label .togglePass.active, .field input:valid + label .togglePass.active, .field input.hasValue + label .togglePass.active {
  opacity: 1;
}
.field__rules {
  column-count: 3;
  padding: 5px;
  font-size: 0.8em;
  list-style: none;
}
.field__rules > li {
  display: flex;
  align-items: center;
  padding: 3px 0;
  color: rgba(17, 17, 17, 0.6);
  transition: 0.2s;
}
.field__rules > li::before {
  content: '✔';
  display: inline-block;
  color: #DDD;
  font-size: 1em;
  line-height: 0;
  margin: 0 6px 0 0;
  transition: 0.2s;
}
.field__rules > li.pass {
  color: #111;
}
.field__rules > li.pass::before {
  color: #2B93D9;
  text-shadow: 0 0 8px currentColor;
}
.field .showPassBtn {
  float: right;
  padding: 0;
  font-size: 0.9em;
  opacity: 0.7;
  line-height: 1.5;
  height: 1.5em;
  margin-left: 1.5em;
  background: none;
  border: 0;
  overflow: hidden;
}
.field .showPassBtn::before {
  content: '\2022';
  display: inline-block;
  font-size: 30px;
  line-height: 20px;
  vertical-align: top;
  margin-right: 0.3em;
  border: 1px solid black;
}
.field .showPassBtn::after {
  content: 'Show\AHide';
  display: inline-block;
  text-align: left;
  white-space: pre;
  vertical-align: top;
  transition: 0.18s ease-out;
}
.field .showPassBtn:hover {
  opacity: 1;
}
.field .showPassBtn.active::after {
  transform: translateY(-50%);
}

@media screen and (max-width: 1700px){
.field{
  width: 95%;
}
.field label{
  font-size: 1.2em;
  margin-left: 5px;
}

.field input{
  font-size: 1.2em;
}

}

@media screen and (max-width: 1580px){

  .field{
    width: 95%;
    margin: 0px 10px 10px;
  }
  .field label{
    font-size: 1em;
    margin-left: 5px;
  }
  
  .field input{
    font-size: .8em;
    
  }

  .field__rules {
    column-count: 3;
    padding: 5px 0;
    font-size: 0.65em;
    list-style: none;
  }
  .field__rules > li {
    display: flex;
    align-items: center;
    padding: 3px 0;
    color: rgba(17, 17, 17, 0.6);
    transition: 0.2s;
  }
  .field__rules > li::before {
    content: '✔';
    display: inline-block;
    color: #DDD;
    font-size: .8em;
    line-height: 0;
    margin: 0 6px 0 0;
    transition: 0.2s;
  }
.field input:focus + label, .field input:valid + label, .field input.hasValue + label {
  transform: translateY(-50%);

}

}

@media screen and (max-width: 1200px){

  .field{
    width: 95%;
    margin-bottom: 5px ;
  }
  
  .field__rules {
  
    font-size: 0.6em;
  }
  
}
@media screen and (max-width: 1050px){
  .field{
    width: 100%;
    margin: 20px 0px 10px;
    
  }
  .field label{
    font-size: 1.2em;
    margin-left: 5px;
  }
  
  .field input{
    font-size: 1em;
      background-image: linear-gradient(0deg, #2B93D9 1px, transparent 0), linear-gradient(0deg, rgba(157, 157, 157, 1) 1px, transparent 0);
    
  
  }

  .field__rules {
    column-count: 2;
    padding: 5px 0;
    font-size: .8em;
    list-style: none;
  }
  .field__rules > li {
    display: flex;
    align-items: center;
    padding: 3px 0;
    color: rgba(17, 17, 17, 0.6);
    transition: 0.2s;
    margin: 0;
  }
  .field__rules > li::before {
    content: '✔';
    display: inline-block;
    color: #DDD;
    font-size: 1.1em;
    line-height: 0;
    margin: 0 6px 0 0;
    transition: 0.2s;
  }
  .field input:focus + label, .field input:valid + label, .field input.hasValue + label {
    transform: translateY(-50%);
    
}
}
@media screen and (max-width: 550px){

}